#page-landing {
  background: linear-gradient(
    45deg,
    rgba(45, 45, 120, 1) 0%,
    rgba(73, 73, 207, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
  /* background: linear-gradient(329.59deg, #29b6d1 0%, #00c7c7 100%); */
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}
#container {
  margin: auto;

  width: min(90%, 112rem); /*ou 90% ou 1120px (o menor entre eles) */
}

.location,
h1,
.visit p {
  height: 16vh;
}

.visit a {
  width: 8rem;
  height: 8rem;
  background: #ffd666;

  border: none;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  transition: background 200ms;
}

.visit a:hover {
  background: #96feff;
}

#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
  font-size: clamp(4rem, 8vw, 8.4rem); /*Minimo, ideal, maximo*/
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  animation-delay: 250ms;
}

/* Desktop Version */
@media (min-width: 760px) {
  /* precisa ter o <meta name="viewport" content="width=device-width, initial-scale=1.0" /> no index*/

  #container {
    padding: 5rem 2rem; /**cima e baixo | laterais*/
    background: url("../images/bg.svg") no-repeat 80% /
      clamp(30rem, 54vw, 56rem);
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location,
  h1,
  .visit p {
    height: initial;
    text-align: initial;
  }

  .location {
    font-size: 2.4rem;
    text-align: right;
    line-height: 1.5;
  }

  main h1 {
    font-weight: bold;
    line-height: 0.88;
    margin: clamp(10%, 9vh, 12%) 0 4rem; /*top | | bottom*/
    width: min(300px, 80%);
  }

  .visit p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
  }

  .visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .visit a {
    margin: initial;
  }
}
